body {
  background: #0e1015;
  color: #fdfdfd;
  font-family: "Nunito", sans-serif;
}

.weather-app {
  background: #16181d;
  border: 2px solid #151623;
  max-width: 700px;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 10px 10px 11px rgba(110, 93, 137, 0.1);
  border-radius: 15px;
}

header {
  text-align: center;
}

/* in order to center both the search input AND the button together, I had to set both of them individually to 'inline-block
which will make them block elements so you can add padding, etc, but make them inline so they will appear beside each other and
they I had to make the div that surrounded this or the form element in this case be set to text-align: center as per https://stackoverflow.com/questions/46696089/how-do-i-align-my-search-input-and-submit-button-to-the-center-of-the-page */
form {
  text-align: center;
}
.search-form-input {
  width: 30%;
  border-radius: 10px;
  padding: 7px 15px;
  font-size: 15px;
  margin: 10px auto;
  text-align: center;
  background-color: #26143f;
  border: none;
  display: inline-block;
}

.search-form-button {
  padding: 7px 15px;
  border-radius: 10px;
  display: inline-block;
}

.city {
  font-size: 36px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 200px;
  height: 200px;
  margin-top: 40px;
  position: relative;
  left: 5px;
}

.temperature {
  font-size: 60px;
  margin-bottom: 10px;
  color: rgb(69, 16, 156);
}

/* had to make this outer div i.e. the right-container position 'relative' and the inner div I wanted i.e. weather-description
have a position of absolute. This allowed me to be able to put the description text a bit over the image because when I wanted to make the icon bigger, it
would push the weather description down due to the bigger margins so this allowed me to make the text appear closer to the icon by going over its margins i.e. on top of the image! */
.right-container {
  position: relative;
}

.weather-description {
  text-align: center;
  margin-top: 0;
  position: absolute;
  bottom: 30px;
  left: 50px;
}

footer {
  margin-top: 30px;
  font-size: 13px;
  color: #fdfdfd98;
}
